footer {
  background-color: #222;
  width: 100%;
  padding: 0 20%;
  height: auto;
  padding-top: 60px;
}
#uls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#uls .links_footer {
  font-size: 16px;
  color: #fff;
  font-family: var(--second-font);
  font-optical-sizing: auto;
  font-weight: 400;
  list-style: none;
  line-height: 45px;
}
#uls .title_links {
  font-size: 20px;
  padding-bottom: 10px;
}

footer hr {
  width: 100%;
  margin: 100px 0 0;
  height: 1px;
  border: none;
  background-color: #565656;
}
#last {
  display: flex;
  justify-content: space-between;
}
#last p {
  font-size: 20px;
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 400;
  color: #fff;
  padding: 20px 0;
}
.mrg {
  margin: 0 10px;
}

@media (max-width: 1030px) {
footer {
  padding: 50px 10% 0;
}
}

@media (max-width: 900px) {
footer {
  padding: 50px 1% 0;
}
}
@media (max-width: 800px) {
footer {
  padding: 50px 1% 0;
}
#uls {
  flex-wrap: wrap;
}
#uls .links_footer {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#uls .title_links {
  text-decoration: underline;
  color: rgb(255, 229, 35);
}
}
@media (max-width: 400px)  {
footer {
padding-top: 30px;
}
#uls .links_footer {
  margin-top: 5px;
}
#last p {
  font-size: 14px;
  padding-left: 7px;
}
}